{% if shop.policies.size > 0 %}
  <ul
    class="policy-list list-unstyled footer-utilities__text"
    style="{% render 'typography-style', preset: 'custom', settings: block.settings %}"
  >
    {%- for policy in shop.policies -%}
      {%- if policy != blank -%}
        <li>
          <a href="{{ policy.url }}" class="policy-link">
            {{ policy.title | escape }}
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{% endif %}

{% stylesheet %}
  .policy-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    padding: 0;
  }

  .policy-link {
    color: var(--color-foreground);
    text-decoration: none;
    font-size: var(--font-size, 0.75rem);
    text-transform: var(--case, none);
  }

  .policy-link:hover {
    text-decoration: underline;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.policy_list",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.manage_policies"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.75rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "t:names.policy_list",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
