/* Tamaño fijo de 20px para la imagen */
#sections--27433708716415__section_TJNaLU__group_JwnbVE__group_cJJzkV__image_DzNcrT img {
  width: 20px !important;
  height: auto;
}

#sections--27433708716415__section_TJNaLU__group_gYkjkB__image_NFpECN {
  width: 20px !important;
}